# frozen_string_literal: true

source "https://rubygems.org"
git_source(:github) {|repo_name| "https://github.com/#{repo_name}" }

ruby <%= "'#{RUBY_VERSION}'" -%>

# this application gem
gem 'centuria'

# command line gem for centuria
gem 'thor'